*{
    background-color: black;
    color: white;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 1.5rem;
}

#frame{
    width: 400px;
    height: 550px;
    border: 2px solid white;
    padding: 20px;
}

#display{
    width: 100%;
    height: 20%;
    border: 2px solid white;
    background-color: rgb(105, 130, 75);
    font-family: 'Calculator', sans-serif;
    padding: 10px;
    text-align: right;
    text-overflow: initial;
}

#buttons{
    width: 100%;
    height: 80%;
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

button {
    width: 100%;
}

.number {
    background-color: rgb(56, 64, 98);
}

.operator {
    background-color: rgb(112, 42, 42);
}

.equals{
    background-color: rgb(157, 165, 157);
}